
@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/LayoutUser.cshtml";
}
    <head>
        <link href="~/fonts/Font(css,js)/OrderList.css" rel="stylesheet" />
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </head>
    <body>
        <section class="jumbotron text-center">
            <div class="container">
                <h1 style="margin-top:80px;font-weight:700;">Danh sách đơn hàng</h1>
            </div>
        </section>
        <div class="container" style="margin-bottom:50px;">
            <ul class="list-group list-group-horizontal">
                <a href="~/OrderList/InProcess" class="list-group-item">Đang xử lý</a>
                <a href="~/OrderList/Success" class="list-group-item active">Đã sử dụng</a>
                <a href="~/OrderList/Cancel" class="list-group-item">Đã hủy</a>
            </ul>
        </div>
        <div class="container mb-4">
            <div class="row">
                <div class="col-12">
                    <div class="table-responsive">
                        <table class="table table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th>Đơn hàng số</th>
                                    <th>Ngày tạo</th>
                                    <th>Thời gian tạo</th>
                                    <th>Ngày sử dụng</th>
                                    <th>Bữa</th>
                                    <th>Tổng tiền</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td style="margin: 0 auto;">ĐH001</td>
                                    <td>19/7/2020</td>
                                    <td>12:40:39AM</td>
                                    <td>24/7/2020</td>
                                    <td>Bữa tối</td>
                                    <td>250.000đ</td>
                                    <td>
                                        <div class="text-center">
                                            <a href="#" class="btn btn-success text-white" style="cursor:pointer; width:100px;">
                                                Chi tiết <i class="fa fa-search"></i>
                                            </a>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="text-center">
                                            <a href="#" class="btn btn-success text-white" style="cursor:pointer; width:110px;">
                                                Phản hồi <i class="fa fa-send"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="margin: 0 auto;">ĐH001</td>
                                    <td>19/7/2020</td>
                                    <td>12:40:39AM</td>
                                    <td>24/7/2020</td>
                                    <td>Bữa tối</td>
                                    <td>250.000đ</td>
                                    <td>
                                        <div class="text-center">
                                            <a href="#" class="btn btn-success text-white" style="cursor:pointer; width:100px;">
                                                Chi tiết <i class="fa fa-search"></i>
                                            </a>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="text-center">
                                            <a href="#" class="btn btn-success text-white" style="cursor:pointer; width:110px;">
                                                Phản hồi <i class="fa fa-send"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </body>


