
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model  IEnumerable<Project.Models.IngredientDetail>
<h2>Số nguyên liệu cần chuẩn bị cho ngày mai</h2>
<br>
<p>Chú ý : đơn vị quy chuẩn của các loại thực phẩm</p>

<p>Gạo, thịt lợn, thịt bò, bún, gạo : gam </p>
<p>Hành lá , hành tây, nem lụi : cái , củ </p>




<br><br>
<link href="~/Style/Style.css" rel="stylesheet" />
<table class="table table-striped table-bordered" id="t01">
    <tr>
        <th>
            Nguyên Liệu
        </th>
        <th>
            Số Lượng
        </th>


    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Ingredient.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.amount)

            </td>






        </tr>
    }

</table>

