<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
    <link href="~/fonts/Font(css,js)/css/flaticon.css" rel="stylesheet" />
    <link href="~/fonts/Font(css,js)/css/icomoon.css" rel="stylesheet" />
    <link href="~/fonts/Font(css,js)/css/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
        <div class="container">
            <a class="navbar-brand" href="~/home/Home">MSCR</a>
            <div>
                <a class="fa fa-shopping-cart" style="font-size: 28px;color: #17a2b8;" href="~/Cart/cart"></a> &nbsp
                @if (Session["username"] == null)
                {
                    <a class="btn btn-outline-info waves-effect" style="margin-right:5px;" href="~/Login">Đăng nhập</a>
                    <a class="btn btn-outline-danger waves-effect" href="~/Register">Đăng Ký</a>
                }
                else
                {
                    <div class="btn-group">
                        <button type="button" class="btn btn-lg btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            @Session["username"]
                        </button>
                        <div class="dropdown-menu">
                            @if (Session["role"].Equals(3))
                            {
                                <a class="dropdown-item" href="~/Product">Trở về trang admin</a>
                            }
                            <a class="dropdown-item" href="~/UserDetail/UserDetail">Thông tin cá nhân</a>
                            <a class="dropdown-item" href="~/TransactionHistory/History">Lịch sử mua hàng</a>
                            <a class="dropdown-item" href="~/TopUp/TopUp">Nạp tiền</a>
                            <a class="dropdown-item" href="~/Login/LogOut">Đăng xuất</a>
                        </div>
                    </div>
                  
                }


            </div>
        </div>

    </nav>

    @RenderBody();
    <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" /><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" /></svg></div>
    <footer class="ftco-footer ftco-bg-dark ftco-section">
        <div class="container">
            <div class="row mb-5">
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">MSCR</h2>
                        <p>Hệ thống căng tin hàng đầu Việt Nam</p>
                    </div>
                </div>
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">Giờ mở cửa</h2>
                        <ul class="list-unstyled">
                            <li><a href="#" class="py-2 d-block">Thứ hai: <span>08: - 22:00</span></a></li>
                            <li><a href="#" class="py-2 d-block">Thứ ba: <span>08: - 22:00</span></a></li>
                            <li><a href="#" class="py-2 d-block">Thứ tư: <span>08: - 22:00</span></a></li>
                            <li><a href="#" class="py-2 d-block">Thứ năm: <span>08: - 22:00</span></a></li>
                            <li><a href="#" class="py-2 d-block">Thứ sáu: <span>08: - 22:00</span></a></li>
                            <li><a href="#" class="py-2 d-block">Thứ bảy: <span>08: - 22:00</span></a></li>
                            <li><a href="#" class="py-2 d-block">Chủ nhật: <span>08: - 22:00</span></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">Liên hệ</h2>
                        <ul class="list-unstyled">
                            <li><a href="#" class="py-2 d-block">Đại học FPT, KM29 Khu GD&ĐT, Khu CNC, ĐCT08, Hòa Lạc, Thạch Thất, Hà Nội 155300</a></li>
                            <li><a href="#" class="py-2 d-block">+84963007501</a></li>
                            <li><a href="#" class="py-2 d-block">email@email.com</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">
                            Tin mới
                        </h2>
                        <p>Món trứng hiện đang cháy hàng</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">

                    <p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://google.com" target="_blank">MSCR</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/fonts/Font(css,js)/js/jquery.min.js"></script>
    <script src="~/fonts/Font(css,js)/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="~/fonts/Font(css,js)/js/popper.min.js"></script>
    <script src="~/fonts/Font(css,js)/js/bootstrap.min.js"></script>
    <script src="~/fonts/Font(css,js)/js/jquery.easing.1.3.js"></script>
    <script src="~/fonts/Font(css,js)/js/jquery.waypoints.min.js"></script>
    <script src="~/fonts/Font(css,js)/js/jquery.stellar.min.js"></script>
    <script src="~/fonts/Font(css,js)/js/owl.carousel.min.js"></script>
    <script src="~/fonts/Font(css,js)/js/jquery.magnific-popup.min.js"></script>
    <script src="~/fonts/Font(css,js)/js/aos.js"></script>
    <script src="~/fonts/Font(css,js)/js/jquery.animateNumber.min.js"></script>
    <script src="~/fonts/Font(css,js)/js/main.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="js/jquery-1.11.1.min.js"></script>
</body>
</html>
