
@{
    ViewBag.Title = "Index";
}
<div style="text-align:center;margin-top:20%;">
    <div style="font-size:55px;font-weight:700;">Mã xác thực</div>
    <div style="font-size:45px;font-weight:700;">@ViewBag.code</div>
</div>


