@model IEnumerable<Project.EF.menu_detail>

<button>
    @Html.ActionLink("Thêm", "CreateMenuDetail")
</button>
<br><br>
<link href="~/Style/Style.css" rel="stylesheet" />
<table class="table" id="t01">
    <tr>
        
        <th>
           Món Ăn
        </th>
        
        <th>
            Tên Menu
        </th>
       
        
        
        
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.product.name)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.menu.menu_name)
        </td>
        


        
    </tr>
}

</table>
<button>
    @Html.ActionLink("Quay Lại", "Index")
</button>
