@model Project.ViewModels.ForgotEmailViewModels
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Gửi lại mật khẩu</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="~/fonts/Font(css,js)/Logincss.css" rel="stylesheet" />
</head>
<body>

    <div class="wrapper fadeInDown" style="padding-top:100px;">
        <div id="formContent">
            @using (Html.BeginForm("ForgotPassword", "ForgotPassword", FormMethod.Post))
            {
                <form method="post" action="">
                    <p class="field-validation-error" style="margin-top:20px;">@Html.DisplayFor(Model => Model.ErrorMgs)</p>
                    <p class="field-validation-error"></p>
                    <div style="margin-bottom:30px;font-size:20px;">
                        @Html.LabelFor(Model => Model.Email)
                        @Html.EditorFor(Model => Model.Email)
                    </div>
                    <div class="bg">
                        <input class="btn btn-success btnsubmit" type="submit" name="commit" value="Xác nhận">
                    </div>
                </form>
            }
        </div>
    </div>

</body>
</html>