@model Project.EF.order
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/LayoutUser.cshtml";
}
<head>

</head>
<body>
    <section class="jumbotron text-center">
        <div class="container">
            <h1 style="margin-top:100px;font-weight:800;">Xác nhận đơn hàng</h1>
        </div>
    </section>


    <div class="container bootstrap snippet">
        @if(ViewBag.error != null)
        {
        <h4>@ViewBag.error</h4>
        }

    <div class="row">

        <form action="~/InputOrder/Index" method="POST">
            <div style="display:block;width:600px;margin-left:270px;margin-right:270px;">
                <div style="text-align:center;">
                    <label style="font-weight:600;font-size:25px;">Mã đơn hàng</label>

                    @Html.EditorFor(model => model.id, new { htmlAttributes = new { @style = "width:600px", @class = "form-control" } })
                </div>
                <div style="text-align:center; margin-top:30px;">
                    <label style="font-weight:600;font-size:25px;">Mã xác nhận</label>

                    @Html.EditorFor(model => model.receive_code, new { htmlAttributes = new { @style = "width:600px", @class = "form-control" } })
                </div>

                <button style="width:150px;margin-left:225px;margin-right:225px;margin-top:30px;" id="myBtn" class="btn btn-lg btn-block btn-success" type="submit">Kiểm tra</button>
            </div>
        </form>
        <button style="width:150px;margin-left:225px;margin-right:225px;margin-top:30px;" class="btn btn-lg btn-block btn-success" onclick="location.href='@Url.Action("Index","QRScanner")'">QR Code</button>
    </div>
    </div><br /><br />


</body>


